<div class="homeHeader">
    <h3>Ristorante La Sponda</h3>
</div>

<div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../../assets/img/card_home_ext_alt.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Hello everyone, we are Matteo (on the left) and Nicola (on the right), we are
                        the hands and brain behind Oi Vita, an authentic Italian Pizzeria with a special ingredient,
                        Love!
                        Our ambition is to give you a memorable experience through our simplicity, passion and knowledge
                        so if you are in London but dream about Italy please visit us, we’ll promise you that we’ll make
                        the impossible to make you feel at home. If you want to know more about us don’t be shy and
                        contact us through socials, we read and answer all your comments!
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>