<div class="homeHeader mb-5 mt-5">
    <h3>About Us</h3>
</div>

<div class="cardHolder mb-5">
    <div class="card mb-3" style="max-width: 93vw;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../../assets/img/owners.jpg" class="img-fluid rounded-start" alt="img_owner">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title">The current generation</h4>
                    <p class="card-text">Hello everyone, we are Alfredo (center left) and Isabella (center right), we
                        are
                        todays hands and brain behind La Sponda (under the watchful eyes of their parents Michele and
                        Giulia, of course), an authentic Italian Restaurant with a special
                        ingredient,
                        Love!
                        Our ambition is to give you a memorable experience through our simplicity, passion and knowledge
                        so if you are in Lombardia and want to treat yourself to a truly extraordinary dining
                        experience, come and visit us, enjoy one of Italys oldest dining places and its unique
                        atmoshpere!
                    </p>
                    <p class="card-text"><small class="text-muted"></small></p>
                </div>
            </div>
        </div>
    </div>
</div>